
.gradient-custom-2 {
  /* fallback for old browsers */
  background: #fccb90;

  
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
  
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, #2b01ff, #775cfe, #aea6fa, #e0daff);
 
  }
  
  @media (min-width: 768px) {
  .gradient-form {
  height: 100vh !important;
  }
  }
  @media (min-width: 769px) {
  .gradient-custom-2 {
  border-top-right-radius: .3rem;
  border-bottom-right-radius: .3rem;
  }
  }
  #imglogo {
    width:185px;
  }
  .card-registration .select-input.form-control[readonly]:not([disabled]) {
    font-size: 1rem;
    line-height: 2.15;
    padding-left: .75em;
    padding-right: .75em;
    }
    .card-registration .select-arrow {
    top: 13px;
    }
   
   
    #form3Example1m1{
      width:150px;

    }
  #s2
  {
    background-image: url(p1.png);
    background-repeat: no-repeat;
    background-size: cover;
  }
  * {
    padding: 0%;
    margin: 0;
    box-sizing: border-box;
 
}


html {
    font-family: "Montserrat", sans-serif;
  }

  body {
    background: #eee;
    
  }
/* header {
    background: #f5ba13;
    margin:auto -16px; 
    padding: 16px 32px;
    box-shadow: 0 0 10px 0 rgba(0,0,0,.3);

}

header h1 {
    color: #fff;
    font-family: "McLaren", cursive;
    font-weight: 200;
  } */
/* 
  footer {
    text-align: center;
    bottom: 0;
    position: absolute;
    width: 100%;
    height: 2.5rem;
  } */
  footer p {
    color: #ccc;
  }

  .note{
    background: #fff;
    border-radius: 7px;
    box-shadow: 0 2px 5px #ccc;
    padding: 10px;
    width: 240px;
    margin: 16px;
    float: left;
}
.note h1 {
    font-size: 1.1em;
    margin-bottom: 6px;
  }

.note p {
    font-size: 1.1em;
    margin-bottom: 10px;
    white-space: pre-wrap;
    word-wrap: break-word;
}
 